






<a asp-controller="Home" asp-action="DeleteCookie">Delete Cookies</a>

    @if (ViewBag.User != null && ViewBag.Role != null)
    {
        <h3>Name: @ViewBag.User</h3>
        <h3>Role: @ViewBag.Role</h3>
    }
