@model E_Commerce.Models.User



<h2>Edit Profile</h2>

<form method="post" asp-controller="Users" asp-action="EditProfile">



    <label>Name:</label>
    <input type="text" asp-for="Name" class="form-control" />

    <label>Email:</label>
    <input type="email" asp-for="Email" class="form-control" />
    <p>@ViewBag.msg2</p>

    <br />
    <button type="submit">Save Changes</button>
</form>